# Database
DB_URL=jdbc:postgresql://ep-xxxxx-pooler.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
DB_USERNAME=neondb_owner

# Use environment variable for password
DB_PASSWORD=DB_PASSWORD

# Pool
DB_MAX_POOL_SIZE=5
DB_MIN_IDLE=1

# Timeouts in milliseconds
DB_CONNECTION_TIMEOUT=10000
DB_IDLE_TIMEOUT=60000
DB_MAX_LIFETIME=1800000

# Validation
DB_VALIDATION_TIMEOUT=5